/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17.07.2017, 10:07:24
    Author     : Слава
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.07.2017, 21:23:45
    Author     : Слава
*/

/* 
http://download.java.net/java/jdk9/jfxdocs/javafx/scene/doc-files/cssref.html 
http://docs.oracle.com/javafx/2/get_started/css.htm
http://fxexperience.com/2011/12/styling-fx-buttons-with-css/
http://spec-zone.ru/RU/Java/FX/2.2/docs/api/javafx/scene/doc-files/cssref.html
CSS JavaFX Справочник

https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html
JavaFX CSS Reference Guide


https://code.makery.ch/ru/library/javafx-tutorial/

*/


/*
переоприделение 
.p,.c1,.c2{...}//parent styles
.c1{...}//child 1 styles
.c2{...}//child 2 styles

.p,.c1,.c2{
  border:1px solid black;
  height: 50px;
  width: 50px;
}
.c1{
  background-color: red;
}
.c2{
  background-color: blue;
}
*/

/*
root { 
    display: block;
}
*/
.root {
     -fx-background-image: url("./background.jpg");

}


.boxmy {
     -fx-background-image: url("background.jpg");/*javafx_rpi2_800_480/res/*/
}

.borderpanemy {
     -fx-background-image: url("background.jpg");
}

/* import fonts */
@font-face {
    font-family: 'Digital-7';
    src: url("/resources/fonts/digital-7.ttf");
}
/*    font-style: normal;
    font-weight: 100;*/

/*    -fx-text-fill: mediumblue;  -fx-font-family: "a_FuturicaLt";
    @Override
    public void initialize(URL url, ResourceBundle rb) {
        // TODO
        Font.loadFont(FXMLDocumentController.class.getResource("digital-7.ttf").toExternalForm(), 50);
}
             */
/* import fonts */
.labelmy {
-fx-text-fill: #0000ff;
-fx-font-family: 'Digital-7';
-fx-font-size: 160;
-fx-effect: dropshadow( gaussian , slategray  , 4,0.05,3,3 );

}
/* digital-7 digital-7(mono) a_FuturicaLt DS-DIGIT*/


.labelsettings {
-fx-text-fill: black;
-fx-font-family: 'ISOCPEUR';
-fx-font-size: 35;
/* -fx-effect: dropshadow( gaussian , slategray  , 4,0.05,3,3 ); */
}

.textsettings {
-fx-text-fill: black;
-fx-font-family: 'ISOCPEUR';
-fx-font-size: 14;
/* -fx-effect: dropshadow( gaussian , slategray  , 4,0.05,3,3 ); */

}

/*
https://icons8.com/icons/set/start
*/

/*  -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 ); 
   -fx-font: bold italic 18pt Georgia;*/
.buttonmy, .buttonstop, .buttonset, .buttonsettime { 
    /* -fx-graphic: url(icons8-start-50.png);
    -fx-graphic-size:50px 50px;
    */
    -fx-text-fill: #0000ff;    
    -fx-background-color: dimgrey;
    -fx-background-radius: 0;
    -fx-padding:0;
    -fx-font-family: "a_FuturicaLt";
    -fx-font-size: 30px;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , slategray  , 20,0.1,12,12 );
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-scale-z: 1;
}

.buttonmy { 
    -fx-graphic: url(icons8-start-50.png);
    -fx-graphic-size:50px 50px;
}

.buttonstop { 
    -fx-graphic: url(icons8-stop-50.png);
    -fx-graphic-size:50px 50px;
}

.buttonset {

    -fx-graphic: url(icons8-settings-48.png);
    -fx-graphic-size:48px 48px;
/*
    -fx-background-image: url(settings.png);
    -fx-background-size: 64px 64px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
*/
}

.buttonsettime {
    -fx-graphic: url(icons8-settings-48.png);
    -fx-graphic-size:50px 50px;  
}

.buttonplus {
    -fx-graphic: url(/resources/icons/Apps-Zoom-In-icon.png);
    -fx-graphic-size:64px 64px;  
    width: 100px;
    height: 100px;
}

.buttonminus {
    -fx-graphic: url(/resources/icons/Apps-Zoom-Out-icon.png);
    -fx-graphic-size:64px 64px;  
    width: 100px;
    height: 100px;
}


.buttonhome {
    -fx-graphic: url(/resources/icons/Apps-Home-icon.png);
    -fx-graphic-size:64px 64px;  
    width: 80px;
    height: 80px;
}


.buttonsettime {
    -fx-graphic: url(icons8-settings-48.png);
    -fx-graphic-size:50px 50px;  
}


/*
dropshadow( <blur-type> , <color> , <radius range [0.0 ... 127.0]> , <spread  range [0.0 ... 1.0] > , <offset in the x> , <offset in the y> )

<blur-type> = [ gaussian | one-pass-box | three-pass-box | two-pass-box ]
<color> The shadow Color.

*/

/*

CSS Pseudo-class
disabled	applies when the disabled variable is true
focused	applies when the focused variable is true
hover	applies when the hover variable is true
pressed	applies when the pressed variable is true
show-mnemonic	apples when the mnemonic affordance (typically an underscore) should be shown.
*/

/*
.buttonmy:pressed {
        -fx-effect: dropshadow( gaussian , slategray  , 5,0.0,2,2 );
        -fx-scale-x: 0.8;
        -fx-scale-y: 0.8;
        -fx-scale-z: 1;
        -fx-text-fill: mediumblue;
        -fx-background-color: black; 
}
*/

.buttonmy:focused , .buttonstop:focused, .buttonset:focused, .buttonsettime:focused {
    
        -fx-border-radius: 0;
        -fx-background-radius: 0;
        -fx-background-color: dimgrey; 
        -fx-effect: dropshadow( gaussian , slategray  , 15,0.2,10,10 );
        -fx-scale-x: 1.0;
        -fx-scale-y: 1.0;
        -fx-scale-z: 1.0;
        /*-fx-border-color: black;*/
        -fx-border-width: 1px;
        /*-fx-text-fill: black;*/
}

.buttonmy:pressed, .buttonstop:pressed, .buttonset:pressed, .buttonsettime:pressed {
   /* -fx-background-color: linear-gradient(#805008, #36a291); */
    /*-fx-text-fill: blac;*/
    -fx-scale-x: 0.92;
    -fx-scale-y: 0.92;
    }
    
/*
.buttonmy:hover {
        -fx-border-color: black;
        -fx-border-width: 1px;
        -fx-border-radius: 0;
        -fx-background-radius: 0;
        -fx-background-color: gray; 
        -fx-effect: dropshadow( gaussian , slategray  , 15,0.2,7,7 );
        -fx-scale-x: 1.05;
        -fx-scale-y: 1.05;
        -fx-scale-z: 1;
        
        -fx-text-fill: mediumblue;
}
*/


/*
.buttonmy {
    -fx-background-color:#090a0c;
    -fx-text-fill: white;
    -fx-font-family: "a_FuturicaLt";
    -fx-border-color: #ff0000;
    -fx-border-width: 5px;
    -fx-font-size: 28px;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 0;
}

.buttonmy:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
    -fx-rotate:15;
    
}
.buttonmy:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
*/
/*    -fx-text-fill: linear-gradient(white, #d0d0d0); */


/* по ID элемента */
#ProgressBarState {
    -fx-effect: dropshadow( gaussian , slategray  , 15,0.2,10,10 );
}



/*      */
.separatormy  *.line{
    -fx-background-color: transparent;
    -fx-background-radius: 1;
    -fx-border-style: none, none, solid, none ;
    -fx-border-width: 0 0 2 0; /* its make really one-pixel-border */
    -fx-border-color: black;
    /*-fx-border-width: 1px;*/
}
 
/*
.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
*/

/* 
http://www.java2s.com/Tutorials/Java/JavaFX/1300__JavaFX_CSS.htm 
http://spec-zone.ru/RU/Java/FX/2.2/docs/api/javafx/scene/doc-files/cssref.html  
*/
/*
.combo-box1 {
    -fx-background-color: black;
}
*/
/*
.combo-box-base > .arrow {
    -fx-background-color: yellow;
}

.combo-box-base > .arrow-button {
    -fx-background-color: red;
    -fx-size: 15;
}

*/
/*
.combo-box-base > .combo-box-popup >.list-view {
    -fx-min-height: 200;  
    -fx-scale-x: 2;
    -fx-scale-y: 2;
}
*/
/*
decrement-button — StackPane
decrement-arrow — StackPane
track — StackPane
thumb — StackPane
increment-button — StackPane
increment-arrow — StackPane
Style class: scroll-bar

*/

/* 
------------------------------------------------------------------------- 
https://farrukhobaid.wordpress.com/2013/01/16/dark-scrollbar-skin-for-javafx/
*/

/****************************************************************
 
  ScrollBar Skin  
 
****************************************************************/
/*
.scroll-bar{
 -fx-background-color: rgb(96,96,96);
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 4 0 4 0;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
 -fx-background-color: rgb(231,231,231);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: rgb(255,255,255);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-background-color: rgb(211,211,211);
 -fx-padding: 0.25em;
 -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}
*/

/*
--------------------------------------------------------------------------------
https://stackoverflow.com/questions/38323401/javafx-slider-change-width-thickness
In JavaFX most of the styling can be done via CSS.

You can use the .slider .track and the .slider .thumb style classes in your CSS file. In this style classes you can use the -fx-pref-width and -fx-pref-height attributes:

.slider .track {
    -fx-pref-height:20;
}

.slider:vertical .track {
    -fx-pref-width:20;
}

.slider .thumb {
    -fx-pref-height: 30;
    -fx-pref-width: 30;
}
Or alternatively you can use the -fx-padding attribute:

.slider .track {
    -fx-padding: 10;
}

.slider .thumb {
    -fx-padding: 15;
}
This will produce horizontal and vertical Sliders like these:


Use this style description for ticks and blue color :

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: blue;
}
--------------------------------------------------------------------------------
https://github.com/fxexperience/code
FXExperienceControls
FXExperienceTools

https://github.com/EricCanull/fxexperience2
FXExperience-Tools 2

*/

/*  
http://o7planning.org/en/11083/javafx-slider-tutorial
http://o7planning.org/ru/11083/javafx-slider-tutorial
JavaFX Slider Tutorial
Руководство JavaFX Slider
http://www.java2s.com/Tutorials/Java/JavaFX/index.htm
JavaFX Tutorial

http://download.java.net/java/jdk9/jfxdocs/javafx/scene/doc-files/cssref.html#region
JavaFX CSS Reference Guide
http://spec-zone.ru/RU/Java/FX/2.2/docs/api/javafx/scene/doc-files/cssref.html
CSS JavaFX Справочник
*/
#sliderSettings:vertical .track {
    -fx-pref-width:20;
}

#sliderSettings .thumb {
    -fx-pref-height: 30;
    -fx-pref-width: 30;
}
/* #sliderSettings > .axis > .axis-minor-tick-mark, */
/* #sliderSettings > .axis , */
#sliderSettings > .axis > .axis-tick-mark

{
    
    -fx-stroke-width:5;
    -fx-stroke: black;
    /*-fx-stroke-dash-array: 12 2 4 2;*/
    -fx-start-margin: 20;
    -fx-end-margin: 20;
    -fx-tick-length: 10;
    
    -fx-tick-label-font: normal 14pt system;
    -fx-tick-label-fill: black;
    -fx-tick-label-gap: 3;
}


#sliderSettings > .axis > .axis-minor-tick-mark 
{
    
    -fx-stroke-width:5;
    -fx-stroke: black;
    /*-fx-stroke-dash-array: 12 2 4 2;*/
    -fx-start-margin: 20;
    -fx-end-margin: 20;
    -fx-tick-length: 10;
    
    -fx-tick-label-font: normal 14pt system;
    -fx-tick-label-fill: black;
    -fx-tick-label-gap: 3;
}


 #sliderSettings > .axis 
{
    
    -fx-stroke-width:5;
    -fx-stroke: black;
    /*-fx-stroke-dash-array: 12 2 4 2;*/
    -fx-start-margin: 20;
    -fx-end-margin: 20;
    -fx-tick-length: 10;
    
    -fx-tick-label-font: normal 14pt system;
    -fx-tick-label-fill: black;
    -fx-tick-label-gap: 3;
}

/*
-------------------------------------------------------------------------------
http://docs.oracle.com/javafx/2/charts/css-styles.htm
*/
/*
.chart-legend {
   -fx-background-color: transparent;
   -fx-padding: 0px;
   -fx-fill: yellow;
   -fx-stroke: green;
}
 
.chart-legend-item-symbol{
   -fx-background-radius: 0;
   -fx-background-size: 1px;


}
*/